html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Welcome
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
    body
     .container.my-5
      .card
        .card-body
          h1 UPLOAD VIDEO
          form#formupload(action="")
            input#inputupload.form-control(type="file" accept="video/*" required)
            button#submitbtn.btn.btn-primary.mt-3 UPLOAD
          #progressUpload.progress.mt-3.d-none
            #progressbarUpload.progress-bar.progress-bar-striped.progress-bar-animated(style="width:0%")
    script(src="/upload.js")
